<h2>
  <%- page.title %>
</h2>

<%- page.content%>
  <p>
    — Publicado el <%- full_date(page.date, 'LL') %> a las <%- full_date(page.date, 'h:mm A') %> en <%- list_tags(page.tags, {class: 'classtest' , show_count: false, style: false}) %> 
  </p>
  <%- partial('partial/comments') %>