<div class="row">
  <div class="six columns">
    <h1 class="mt-2">
      <%= theme.title %>
    </h1>
  </div>


  <div class="twelve columns">
    <div class="row">
      <div class="nine columns left">
        <a href="<%= config.root %>">Página principal</a>
        <% for (name in theme.menu) { %>
          <% if (theme.menu[name]) { %>
            <a href="<%- url_for(theme.menu[name]) %>" class="ml">
              <%- name %>
            </a>
            <% } %>
              <a href="#" class="ml icon theme-switcher" style="text-decoration: none; display: inline-block; font-size: 1.3em;">
                <div onclick=setDarkMode(true) id="darkBtn" class=hidden>
                  <%= theme.switch_dark %>
                </div>
                <div onclick=setDarkMode(false) id="lightBtn" class=hidden>
                  <%= theme.switch_light %>
                </div>
              </a>
              <script>
                setDarkMode(true);
                
                window.matchMedia("(prefers-color-scheme: dark)").addEventListener("change", function(e) {
                  e.matches ? setDarkMode(true) : setDarkMode(false);
                });

                if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
                  setDarkMode(false);
                }

                function setDarkMode(isDark) {
                  var darkBtn = document.getElementById('darkBtn')
                  var lightBtn = document.getElementById('lightBtn')
                  if (isDark) {
                    lightBtn.style.display = "inline"
                    darkBtn.style.display = "none"
                  } else {
                    lightBtn.style.display = "none"
                    darkBtn.style.display = "inline"
                  }
                  document.body.classList.toggle("darkmode");
                }
              </script>
              <% } %>
                <% if (theme.email) { %>
                  <% if (typeof obfuscate==="function" ) { %>
                    <a href="mailto:<%- obfuscate(theme.email) %>" target="_blank" class="ml">Email</a>
                    <% } else { %>
                      <a href="mailto:<%= theme.email %>" target="_blank" class="ml">Email</a>
                      <% } %>
                        <% } %>

      </div>
    </div>
    <hr style="margin-bottom: 2.6rem">
  </div>
</div>